/* 🟪 ------------------FONT IMPORTS------------------*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 🟪 ------------------GLOBAL STYLING------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: var(--primary-text);
}

:root {
  /*----brand colours----*/
  --brand: #17202a;
  /*----button colours----*/
  --button-primary-default: #192430;
  --button-primary-hover: #121a23;
  --button-primary-click: #0d131a;
  --button-primary-outline: #242e39;
  /*----input colours----*/
  --input-default: #121a23;
  --input-hover: #10171f;
  --input-outline: #242e39;
  --input-outline-hover: #ffffff20;
  /*----text colours----*/
  --primary-text: #ffffff;
  --placeholder-text: #ffffff50;
  --primary-subdued-text: #868d96;
  /*----icons colours----*/
  --icons: #ffffff;
  /*----dividers colours----*/
  --divider-primary: #242e39;
  /*----card colours---*/
  --card-primary: #192430;
  --card-primary-outline: #242e39;
}

body {
  background-color: var(--brand);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 🟪 ------------------IMAGES STYLING------------------*/

.logo-small {
  width: 24px;
  height: 24px;
}

.logo-big {
  width: 48px;
  height: 48px;
}

/* 🟪 ------------------TEXT STYLING------------------*/

h1 {
  font-size: 32px;
  font-weight: 550;
  color: var(--primary-text);
}

h2 {
  font-size: 24px;
  font-weight: 550;
  color: var(--primary-text);
}

h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-text);
}

p {
  font-size: 14px;
  font-weight: 350;
  color: var(--primary-text);
  line-height: 1.5;
}

::placeholder {
  color: var(--placeholder-text);
}

.text-bold {
  font-size: 16px;
  font-weight: 500;
}

.text-subdued {
  font-size: 14px;
  font-weight: 350;
  color: var(--primary-subdued-text);
  line-height: 1.5;
}

/* 🟪 ------------------LINK STYLING------------------*/

a {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-text);
}

.link-underlined {
  text-decoration: underline;
}

/* 🟪 ------------------STRUCTURAL STYLING------------------*/

.container-form {
  margin: 200px 0;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 150px;
}

/* 🟪 ------------------FORM STYLING------------------*/

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

label {
  display: block;
  width: 100%;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 400;
}

.wrapper-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0px;
}

/* 🟪 ------------------INPUT STYLING------------------*/

.input-primary {
  background-color: var(--input-default);
  padding: 20px 30px;
  border: solid 1px var(--input-outline);
  border-radius: 100px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  transition: all 0.45s ease-in-out;
  margin-bottom: 15px;
}

.input-primary:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--input-outline-hover);
}

.input-primary:hover {
  background-color: var(--input-hover);
  cursor: pointer;
}

/* 🟪 ------------------BUTTON STYLING------------------*/

button {
  background-color: var(--button-primary-default);
  padding: 10px 15px;
  border: solid 1px var(--button-primary-outline);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  transition: all 0.35s ease-in-out;
  align-self: center;
}

button:hover {
  background-color: var(--button-primary-hover);
  transform: scale(1);
  cursor: pointer;
}

button:active {
  background-color: var(--button-primary-click);
}

.button-full-width {
  width: 98%;
}

/* 🟪 ------------------NAVBAR STYLING------------------*/

/* 🟪 ------------------TABLE STYLING------------------*/

/* 🟪 ------------------CARD STYLING------------------*/

.card {
  display: flex;
  flex-direction: row;
  gap: 25px;
  background-color: var(--card-primary);
  padding: 30px;
  border-radius: 25px;
  border: 1px solid var(--card-primary-outline);
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* 🟪 ------------------RESPONSIVE STYLING------------------*/
